footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0.5rem;
    z-index: 2;
    margin: 0 0.5rem;
    padding: 2rem;
    height: 270px;
    max-width: 1190px;
    overflow: none;
    background-color: var(--pri-accent-color);
}

.movie-info {
    display: flex;
    position: relative;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    height: 250px;
    min-width: 100%;
    overflow: none;
    background-color: var(--pri-bg-color);
    color: var(--pri-font-color-light);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.movie-info:hover {
    box-shadow: 7px 10px 10px -1px rgb(61, 90, 241, 0.16),
        -7px -10px 10px -3px rgba(14, 21, 58, 0.70);
    border-radius: 5px;
    transform: scale(1.02)
}

.movie-img>.img-container {
    position: relative;
    display: inline-block;
    flex: 1;
    max-width: 150px;
    max-height: 200px;
    margin: 0 auto;
}

.movie-info img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    min-width: 150px;
    min-height: 200px;
    object-fit: cover;
}

.movie-info>svg {
    position: absolute;
    right: 10px;
    top: 10px;
    color: darkred;
    font-size: 1.5rem;
}

.movie-info-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cener;
    margin: 0 1.5rem;
    width: 100%;
}

.overview {
    margin-top: 0.5rem;
    padding: 1rem 3rem;
    padding-top: 0.2rem;
    width: 100%;
    height: 7rem;
    overflow: hidden;
}