.hero-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: var(--pri-font-color-light);
    max-width: 95%;
    margin: 0 2rem;
    padding: 1rem 3rem;
}

.hero-controls>* {
    position: relative;
    z-index: 1;
}

.hero-controls>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--pri-accent-color);
}

.hero-controls>span>svg {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--pri-accent-color);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.5rem 0.25rem;
    min-width: 7rem;
    background-color: var(--pri-accent-color);
    border: 1px solid var(--pri-accent-color);
    color: var(--pri-font-color);
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    background-color: transparent;
    color: var(--pri-font-color-light);
}
