header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--sec-bg-color);
}

.title {
  text-align: left;
  margin: 0 2rem;
  padding: -2.5rem 0.5rem;
  color: var(--pri-accent-color);
  font-size: 0.25rem;
  max-width: 20%;
}

.title>span {
  color: var(--pri-accent-color-light);
  font-size: 1rem;
  padding: -2.5rem 0.5rem;
}

header img {
  height: 60px;
  width: 60px;
}

header>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
.search-bar {
  background: transparent;
  display: flex;
  border: none;
  border-bottom: 1px solid var(--pri-accent-color-dark);
  padding: 0.75rem 0.5rem;
  margin: 0 1rem;
  border-radius: 10px;
=======
.search-bar{
display: flex;
width: 2rem;
height: 2rem;
border-radius: 20px;
background: transparent;
transition: all 300ms linear;
border: none;
border-bottom: 1px solid var(--pri-accent-color-dark);
border-radius: 10px;
>>>>>>> 23a5fc8dcb3461ccb5da88f6b1a5a44181e3201f
  max-width: 40%;
  overflow: none;
}

.search-input {
  height: 1rem;
  margin-left: 0.2rem;
  margin-top: 0.75rem;
  margin-bottom: -0.25rem;
  border: none;
  background: transparent;
  color: var(--pri-font-color);
  overflow: hidden;
  width: 0px;
}

.search-input:focus {
  border: none;
  outline: none;
}

<<<<<<< HEAD
.search {
  margin-top: 0.85rem;
  margin-bottom: -0.25rem;
  font-size: 30px;
  color: var(--pri-accent-color)
}

.search:hover .search-input {
  display: block;
=======
.search{
color: var(--pri-accent-color);
width: 100%;
height: 100%;
margin-left: 0.25rem;
}
 .search-bar:hover{
  width: 12rem;
>>>>>>> 23a5fc8dcb3461ccb5da88f6b1a5a44181e3201f
}
.search-bar:hover > .search-input{
  width: 10rem;
 }

<<<<<<< HEAD
@media screen and (min-width: 600px) {
  .search-bar {
    min-width: 10rem;
  }
  .search {
    font-size: 15px;
    margin-right: 0.75rem;
  }
  .title h1 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem
  }
}
=======
.search-bar:hover > .search {
  width: 1.25rem;
  height: 1.25rem;
  }
>>>>>>> 23a5fc8dcb3461ccb5da88f6b1a5a44181e3201f
